* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: #e8ecf1;
}
header {
    background-color: #ffffff;
    padding: 20px 15px;
    .logo {
        width: 150px;
    }
    .icons {
        a {
            text-decoration: none;
            background-color: #f45369;
            color: #ffffff;
            font-size: 17px;
            width: 32px;
            height: 32px;
            border-radius: 8px;
        }
        .active {
            background-color: #ffffff;
            color: #f45369;
            border: 1px solid #f45369;
        }
    }
}
@media (max-width: 986px) {
    header {
        height: 80px;
    }
}
@media (max-width: 780px) {
    header {
        height: 65px;
    }
}